<div class="modal">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <h2>Edit Profile</h2>
      <form [formGroup]="postForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
            <img
            [src]="apiUrl + '/pictures/user/' + user.id"
            alt="user picture"
              class="profile-picture"
            />
            <button mat-raised-button color="primary" type="button" (click)="editProfilePicture()">Upload Pciture</button>
          </div>

        <div class="sean">
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" required />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description" class="description"></textarea>
        </mat-form-field>
      </div>
        <button mat-raised-button color="warn" (click)="closeModal()">Cancel</button>
        <button mat-raised-button color="primary" type="submit">Save</button>
    </form>
    </div>
  </div>
  