<div class="profile" *ngIf="user">
  <div class="profile-header">
    <img
      [src]="'http://localhost:8091/api/pictures/user/' + user.id"
      alt="user picture"
      class="profile-picture"
    />
    <div class="user-info">
      <h2>{{ user.username }}</h2>
      <button
        *ngIf="loggedInUser && loggedInUser.username !== user.username"
        (click)="toggleFollow(user)"
        [ngClass]="{
          'follow-btn': true,
          follow: !user.isFollowing,
          unfollow: user.isFollowing
        }"
      >
        {{ user.isFollowing ? "Unfollow" : "Follow" }}
      </button>
      <p>Last seen: {{ user.lastSeen | date : "short" }}</p>
      <p>Registered: {{ user.registeredAt | date : "mediumDate" }}</p>
      <p>Description: {{ user.description }}</p>
    </div>
  </div>
  <div class="social-stats">
    <div (click)="showFollowers()" class="pointer">
      <span>Followers: </span>
      {{ user.followersIds.length }}
    </div>
    <div (click)="showFollowing()" class="pointer">
      <span>Following: </span
      >{{ user.followingsIds.length }}
    </div>
    <div (click)="showStaredPosts()" class="pointer">
      <span>Stared posts: </span
      >{{ user.starredPostsIds.length }}
    </div>
  </div>
  <div class="post-list">
    <h3>Posts</h3>
    <ul>
      <li *ngFor="let post of posts" (click)="navigateToPost(post.id)">
        <span>
          {{ post.title }} <mat-icon *ngIf="post.private">lock</mat-icon>
        </span>
        <small>{{ post.description }}</small>
        <div class="post-interactions">
          <span class="interaction" (click)="navigateToPost(post.id)">
            <mat-icon>comment</mat-icon>
            <span>{{ post.comments.length }}</span>
          </span>
          <span class="interaction" (click)="toggleLike(post, $event)">
            <mat-icon [ngClass]="{ liked: isLikedByUser(post) }">thumb_up</mat-icon>
            {{ post.likes.length || 0 }}
          </span>
          <span class="interaction" (click)="toggleStar(post, $event)">
            <mat-icon [ngClass]="{ stared: isStaredByUser(post) }">star</mat-icon>
            {{ post.stars.length || 0 }}
          </span>
        </div>
      </li>
      
    </ul>
  </div>
</div>
