<div class="container">
  <form class="form" (ngSubmit)="register()">
    <h2>Register</h2>

    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput [formControl]="username" placeholder="Enter your username">
      <mat-error *ngIf="username.errors">
        {{ getErrorMessage() }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password" name="password" placeholder="Enter your password">
      <button type="button" mat-icon-button matSuffix (click)="hide = !hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="!username.valid">Register</button>
  </form>
</div>
