<div class="post-container">
  <div *ngFor="let post of posts" class="post-card">
    <div class="post-header">
      <a [href]="'/user/' + post.username">
        <span href>
          <img
            class="userImg"
            *ngIf="post.userImageUrl"
            [src]="post.userImageUrl"
            alt="User Image"
          />
          <small class="post-user"> {{ post.username }}'s Post </small>
        </span>
      </a>

      <span class="post-date">{{ post.createdAt | date : "medium" }}</span>
    </div>
    <h2>{{ post.title }}</h2>
    <p class="post-description">{{ post.description }}</p>

    <div *ngFor="let image of images[post.id]">
      <img [src]="image" (click)="openImageDialog(image)" alt="Post image" />
    </div>

    <div class="post-footer">
      <div class="post-interactions">
        <span class="interaction" (click)="navigateToPost(post.id)">
          <mat-icon>comment</mat-icon><span>{{ post.comments.length }}</span>
        </span>
        <span class="interaction" (click)="toggleLike(post)">
          <mat-icon [ngClass]="{ liked: isLikedByUser(post) }"
            >thumb_up</mat-icon
          >
          {{ post.likes.length || 0 }}
        </span>
        <span class="interaction" (click)="toggleStar(post)">
          <mat-icon [ngClass]="{ stared: isStaredByUser(post) }">star</mat-icon>
          {{ post.stars.length || 0 }}
        </span>
      </div>
      <div class="padding"></div>
      <button mat-button (click)="navigateToPost(post.id)">Read More</button>
    </div>
  </div>
</div>
