.all-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.toolbar-content {
  width: 100%;
  display: flex;
  align-items: center;
}

h1 {
  margin-left: 10px;
  font-size: 24px;
  flex-grow: 1;
}

.example-spacer {
  flex-grow: 1;
}

.user-container button,
.not-logged-in button {
  margin-left: 10px;
}

button {
  margin: 0 5px;
}

.content {
  width: 100%;
  height: calc(100% - 64px);

}






// .theme-toggle-container mat-icon{
//   margin: 0 8px;
// }

// mat-slide-toggle {
//   margin: 0 8px;
// }

// .theme-toggle-container {
//   display: flex;
//   align-items: center;
//   margin-right: 50px;
// }