<div class="all-container">
  <mat-toolbar class="toolbar" color="primary">
    <div class="toolbar-content">
      <h1>Sigge's Blog Club</h1>
      <span class="example-spacer"></span>
      <button mat-icon-button routerLink="/home" aria-label="Home">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-button routerLink="/create-post">
        <mat-icon>post_add</mat-icon>
        New post
      </button>
      <button mat-button routerLink="/find-friends">
        <mat-icon>group</mat-icon>
        Find Friends
      </button>
      <div
        *ngIf="isLoggedIn && username; else notLoggedIn"
        class="user-container"
      >
        <button
          mat-button
          (click)="goToUserProfile(username)"
          style="cursor: pointer"
        >
          {{ username }}
        </button>
        <button mat-button color="warn" (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          Sign out
        </button>
      </div>
      <ng-template #notLoggedIn>
        <button mat-button (click)="login()">
          <mat-icon>login</mat-icon>
          Login
        </button>
        <button mat-button (click)="register()">
          <mat-icon>person_add</mat-icon>
          Register
        </button>
      </ng-template>
    </div>
  </mat-toolbar>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- <div class="theme-toggle-container">
  <mat-icon class="light-icon">light_mode</mat-icon>
  <mat-slide-toggle
    color="primary"
    [checked]="themeService.isDarkMode()"
    (change)="onToggleChange()"
  >
  </mat-slide-toggle>
  <mat-icon class="dark-icon">dark_mode</mat-icon>
</div> -->
