
  .container {
    max-width: 600px;
    margin: auto;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-top: 40px;
  }


  .test {
    display: flex;
    flex-direction: column;
  }

  .test2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 25px;
  }


  .submit-btn {
    margin-top: 25px;
  }

  .upload-photo-btn {
    width: 80%;
  }

  img {
    max-width: 200px;
    max-height: 200px;
    padding: 10px;
  }
