<div class="discover-users">
    <div class="search-bar">
        <input type="text" placeholder="Search users..." (input)="filterUsers($event)">
    </div>
    <div class="user-card-container">
        <div class="user-card" *ngFor="let user of filteredUsers" (click)="goToUserProfile(user.username)">
            <img [src]="'http://localhost:8091/api/pictures/user/' + user.id" alt="user picture" class="user-image">
            <div class="user-info">
                <h3>{{ user.username }}</h3>
                <button *ngIf="loggedInUsername" 
                        (click)="$event.stopPropagation(); toggleFollow(user)" 
                        [ngClass]="{'follow-btn': true, 'follow': !user.isFollowing, 'unfollow': user.isFollowing}">
                    {{ user.isFollowing ? 'Unfollow' : 'Follow' }}
                </button>
            </div>
        </div>
    </div>
</div>
