<div class="post-container" *ngIf="post">
  <span>{{post.username}}'s Post</span>
  <h2>{{ post.title }}</h2>
  <p>{{ post.description }}</p>
  <p>Created on: {{ post.createdAt | date : "medium" }}</p>

  <div *ngFor="let image of images">
    <img [src]="image" (click)="openImageDialog(image)" alt="Post Image" />
  </div>

  <div class="post-interactions">
    <span class="interaction" (click)="toggleLike(post)">
      <mat-icon>thumb_up</mat-icon> {{ post.likes.length || 0 }}
    </span>
    <span class="interaction" (click)="toggleStar(post)">
      <mat-icon>star</mat-icon> {{ post.stars.length || 0 }}
    </span>
  </div>

  <div class="comments-section">
    <h3>Comments</h3>
    <div *ngFor="let comment of post.comments">
      <p>{{ comment.username }}: {{ comment.text }}</p>
    </div>
  </div>

  <!-- Add Comment Form -->
  <div class="chat">
    <input
      class="message-input"
      [(ngModel)]="newCommentText"
      (keyup.enter)="submitComment()"
      type="text"
      placeholder="Type a comment..."
    />
    <button class="send-message-btn" mat-icon-button (click)="submitComment()">
      <mat-icon>send</mat-icon>
    </button>
  </div>
  <!-- <form (ngSubmit)="submitComment()">
    <textarea
      [(ngModel)]="newCommentText"
      name="commentText"
      required
    ></textarea>
    <button type="submit">Post Comment</button>
  </form> -->
</div>
