<div class="post-container" *ngIf="post">
  <div class="post-header">
    <span>{{ post.username }}'s Post </span>
    <span class="post-date">{{ post.createdAt | date : "medium" }}</span>
    <span *ngIf="canModifyPost()">
      <mat-icon
        (click)="enablePostEdit()"
        aria-label="Edit post"
        style="margin-right: 10px; cursor: pointer"
        >edit</mat-icon
      >
      <mat-icon
        (click)="deletePost(post)"
        aria-label="Delete post"
        style="cursor: pointer"
        >delete</mat-icon
      >
    </span>
  </div>

  <div *ngIf="isEditingPost">
    <input
      [(ngModel)]="editTitle.value"
      [formControl]="editTitle"
      class="edit-input"
    />
    <textarea
      [(ngModel)]="editDescription.value"
      [formControl]="editDescription"
      class="edit-input"
    ></textarea>
    <!-- Photo Editing (Add/Delete) could be handled here -->
    <div class="btn-row">
      <button (click)="cancelPostEdit()">Cancel</button>
      <button (click)="savePostChanges()">Save Changes</button>
      <div class="padding"></div>
      <button>Upload photos</button>
    </div>
  </div>

  <div *ngIf="!isEditingPost">
    <h2>{{ post.title }}</h2>
    <p>{{ post.description }}</p>
  </div>

  <div *ngFor="let image of images">
    <img [src]="image" (click)="openImageDialog(image)" alt="Post Image" />
  </div>

  <div class="post-interactions">
    <span class="interaction" (click)="toggleLike(post)">
      <mat-icon [ngClass]="{ liked: isLikedByUser() }">thumb_up</mat-icon>
      {{ post.likes.length || 0 }}
    </span>
    <span class="interaction" (click)="toggleStar(post)">
      <mat-icon [ngClass]="{ stared: isStaredByUser() }">star</mat-icon>
      {{ post.stars.length || 0 }}
    </span>
  </div>

  <div class="comments-section">
    <h3>Comments</h3>
    <div *ngFor="let comment of post.comments">
      <p *ngIf="!comment.isEditing">
        {{ comment.username }}: {{ comment.text }}
        <span class="icon-container">
          <span class="comment-date">{{
            comment.createdAt | date : "short"
          }}</span>
          <mat-icon
            *ngIf="canEditComment(comment)"
            (click)="enableEdit(comment)"
            class="edit-icon"
            >edit</mat-icon
          >
          <mat-icon
            *ngIf="canEditComment(comment)"
            (click)="deleteComment(comment.id)"
            class="delete-icon"
            >delete</mat-icon
          >
        </span>
      </p>
      <div *ngIf="comment.isEditing" class="edit-container">
        <input
          [(ngModel)]="comment.editText"
          class="edit-input"
          type="text"
          [placeholder]="comment.text"
        />
        <button mat-button (click)="saveComment(comment)">Save</button>
        <button mat-button (click)="cancelCommentEdit(comment)">Cancel</button>
      </div>
    </div>
  </div>

  <div class="chat">
    <input
      class="comment-input"
      [(ngModel)]="newCommentText"
      (keyup.enter)="submitComment()"
      type="text"
      placeholder="Type a comment..."
    />
    <button class="comment-btn" mat-icon-button (click)="submitComment()">
      <mat-icon>send</mat-icon>
    </button>
  </div>
</div>
