<div class="post-container">
  <h1>{{ post.title }}</h1>
  <p>{{ post.description }}</p>
  <p>Created on: {{ post.createdAt | date : "medium" }}</p>

  <div *ngFor="let image of images">
    <img [src]="image" (click)="openImageDialog(image)" alt="Post Image" />
  </div>

  <button (click)="toggleLike(post)">
    {{ post.likes.includes() ? "Unlike" : "Like" }}
  </button>

  <button (click)="toggleStar(post)">
    {{ post.stars.includes() ? "Unstar" : "Star" }}
  </button>

  <div class="comments-section">
    <h3>Comments</h3>
    <div *ngFor="let comment of post.comments">
      <p>{{ comment.user.name }} says: {{ comment.text }}</p>
    </div>
  </div>

  <!-- Add Comment Form -->
  <form (ngSubmit)="submitComment()">
    <textarea
      [(ngModel)]="newCommentText"
      name="commentText"
      required
    ></textarea>
    <button type="submit">Post Comment</button>
  </form>
</div>
